openapi: 3.0.3
info:
  contact: {}
  description: "An order represents a payment between two or more parties. Use the\
    \ Orders API to create, update, retrieve, authorize, and capture orders."
  title: Orders
  version: "2.13"
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-has-globally-required-security: true
externalDocs:
  url: https://developer.paypal.com/docs/api/orders/v2/
servers:
- description: PayPal Sandbox Environment
  url: https://api-m.sandbox.paypal.com
- description: PayPal Live Environment
  url: https://api-m.paypal.com
tags:
- description: "Use the `/orders` resource to create, update, retrieve, authorize,\
    \ capture and track orders."
  name: orders
- description: Use the `/trackers` resource to update and retrieve tracking information
    for PayPal orders.
  name: trackers
paths:
  /v2/checkout/orders:
    post:
      description: "Creates an order. Merchants and partners can add Level 2 and 3\
        \ data to payments to reduce risk and payment processing costs. For more information\
        \ about processing payments, see <a href=\"https://developer.paypal.com/docs/checkout/advanced/processing/\"\
        >checkout</a> or <a href=\"https://developer.paypal.com/docs/multiparty/checkout/advanced/processing/\"\
        >multiparty checkout</a>.<blockquote><strong>Note:</strong> For error handling\
        \ and troubleshooting, see <a href=\"/api/rest/reference/orders/v2/errors/#create-order\"\
        >Orders v2 errors</a>.</blockquote>"
      operationId: Orders_createOrder
      parameters:
      - description: The server stores keys for 6 hours. The API callers can request
          the times to up to 72 hours by speaking to their Account Manager.
        explode: false
        in: header
        name: PayPal-Request-Id
        required: false
        schema:
          maxLength: 108
          minLength: 1
          type: string
        style: simple
      - explode: false
        in: header
        name: PayPal-Partner-Attribution-Id
        required: false
        schema:
          maxLength: 36
          minLength: 1
          type: string
        style: simple
      - explode: false
        in: header
        name: PayPal-Client-Metadata-Id
        required: false
        schema:
          maxLength: 36
          minLength: 1
          type: string
        style: simple
      - description: "The preferred server response upon successful completion of\
          \ the request. Value is:<ul><li><code>return=minimal</code>. The server\
          \ returns a minimal response to optimize communication between the API caller\
          \ and the server. A minimal response includes the <code>id</code>, <code>status</code>\
          \ and HATEOAS links.</li><li><code>return=representation</code>. The server\
          \ returns a complete resource representation, including the current state\
          \ of the resource.</li></ul>"
        explode: false
        in: header
        name: Prefer
        required: false
        schema:
          default: return=minimal
          example: return=minimal
          maxLength: 25
          minLength: 1
          pattern: "^[a-zA-Z=]*$"
          type: string
          x-konfig-original-example: return=minimal
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-prefer-schema
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              order_request:
                value:
                  intent: CAPTURE
                  purchase_units:
                  - reference_id: d9f80740-38f0-11e8-b467-0ed5f89f718b
                    amount:
                      currency_code: USD
                      value: "100.00"
                  payment_source:
                    paypal:
                      experience_context:
                        payment_method_preference: IMMEDIATE_PAYMENT_REQUIRED
                        payment_method_selected: PAYPAL
                        brand_name: EXAMPLE INC
                        locale: en-US
                        landing_page: LOGIN
                        user_action: PAY_NOW
                        return_url: https://example.com/returnUrl
                        cancel_url: https://example.com/cancelUrl
            schema:
              $ref: '#/components/schemas/order_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: A successful response to an idempotent request returns the
            HTTP `200 OK` status code with a JSON response body that shows order details.
        "201":
          content:
            application/json:
              examples:
                orders_request_create:
                  value:
                    intent: CAPTURE
                    purchase_units:
                    - reference_id: d9f80740-38f0-11e8-b467-0ed5f89f718b
                      amount:
                        currency_code: USD
                        value: "100.00"
              schema:
                $ref: '#/components/schemas/order'
          description: "A successful request returns the HTTP `201 Created` status\
            \ code and a JSON response body that includes by default a minimal response\
            \ with the ID, status, and HATEOAS links. If you require the complete\
            \ order resource representation, you must pass the <a href=\"/docs/api/orders/v2/#orders-create-header-parameters\"\
            ><code>Prefer: return=representation</code> request header</a>. This header\
            \ value is not the default."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrderResponse'
          description: "Request is not well-formed, syntactically incorrect, or violates\
            \ schema."
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder401Response'
          description: "Authentication failed due to missing authorization header,\
            \ or invalid authentication credentials."
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder422Response'
          description: "The requested action could not be performed, semantically\
            \ incorrect, or failed business validation."
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
        - https://uri.paypal.com/services/payments/orders/client-side-integration
      summary: Create order
      tags:
      - orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-checkout-orders
      x-content-type: application/json
      x-accepts: application/json
  /v2/checkout/orders/{id}:
    get:
      description: "Shows details for an order, by ID.<blockquote><strong>Note:</strong>\
        \ For error handling and troubleshooting, see <a href=\"/api/rest/reference/orders/v2/errors/#get-order\"\
        >Orders v2 errors</a>.</blockquote>"
      operationId: Orders_showDetails
      parameters:
      - description: The ID of the order that the tracking information is associated
          with.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 36
          minLength: 1
          pattern: "^[A-Z0-9]+$"
          type: string
        style: simple
      - description: A comma-separated list of fields that should be returned for
          the order. Valid filter field is `payment_source`.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          pattern: "^[a-z_]*$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: A successful request returns the HTTP `200 OK` status code
            and a JSON response body that shows order details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersShowDetailsResponse'
          description: "Authentication failed due to missing authorization header,\
            \ or invalid authentication credentials."
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersShowDetails404Response'
          description: The specified resource does not exist.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
        - https://uri.paypal.com/services/payments/orders/client-side-integration
      summary: Show order details
      tags:
      - orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-checkout-orders-id
      x-accepts: application/json
    patch:
      description: "Updates an order with a `CREATED` or `APPROVED` status. You cannot\
        \ update an order with the `COMPLETED` status.<br/><br/>To make an update,\
        \ you must provide a `reference_id`. If you omit this value with an order\
        \ that contains only one purchase unit, PayPal sets the value to `default`\
        \ which enables you to use the path: <code>\\\"/purchase_units/@reference_id=='default'/{attribute-or-object}\\\
        \"</code>. Merchants and partners can add Level 2 and 3 data to payments to\
        \ reduce risk and payment processing costs. For more information about processing\
        \ payments, see <a href=\"https://developer.paypal.com/docs/checkout/advanced/processing/\"\
        >checkout</a> or <a href=\"https://developer.paypal.com/docs/multiparty/checkout/advanced/processing/\"\
        >multiparty checkout</a>.<blockquote><strong>Note:</strong> For error handling\
        \ and troubleshooting, see <a href=\\\"/api/rest/reference/orders/v2/errors/#patch-order\\\
        \">Orders v2 errors</a>.</blockquote>Patchable attributes or objects:<br/><br/><table><thead><th>Attribute</th><th>Op</th><th>Notes</th></thead><tbody><tr><td><code>intent</code></td><td>replace</td><td></td></tr><tr><td><code>payer</code></td><td>replace,\
        \ add</td><td>Using replace op for <code>payer</code> will replace the whole\
        \ <code>payer</code> object with the value sent in request.</td></tr><tr><td><code>purchase_units</code></td><td>replace,\
        \ add</td><td></td></tr><tr><td><code>purchase_units[].custom_id</code></td><td>replace,\
        \ add, remove</td><td></td></tr><tr><td><code>purchase_units[].description</code></td><td>replace,\
        \ add, remove</td><td></td></tr><tr><td><code>purchase_units[].payee.email</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].shipping.name</code></td><td>replace,\
        \ add</td><td></td></tr><tr><td><code>purchase_units[].shipping.address</code></td><td>replace,\
        \ add</td><td></td></tr><tr><td><code>purchase_units[].shipping.type</code></td><td>replace,\
        \ add</td><td></td></tr><tr><td><code>purchase_units[].soft_descriptor</code></td><td>replace,\
        \ remove</td><td></td></tr><tr><td><code>purchase_units[].amount</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].items</code></td><td>replace,\
        \ add, remove</td><td></td></tr><tr><td><code>purchase_units[].invoice_id</code></td><td>replace,\
        \ add, remove</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction.disbursement_mode</code></td><td>replace</td><td>By\
        \ default, <code>disbursement_mode</code> is <code>INSTANT</code>.</td></tr><tr><td><code>purchase_units[].payment_instruction.platform_fees</code></td><td>replace,\
        \ add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.airline</code></td><td>replace,\
        \ add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.card</code></td><td>replace,\
        \ add, remove</td><td></td></tr><tr><td><code>application_context.client_configuration</code></td><td>replace,\
        \ add</td><td></td></tr></tbody></table>"
      operationId: Orders_updateOrderStatus
      parameters:
      - description: The ID of the order that the tracking information is associated
          with.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 36
          minLength: 1
          pattern: "^[A-Z0-9]+$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/patch_request'
      responses:
        "204":
          description: A successful request returns the HTTP `204 No Content` status
            code with an empty object in the JSON response body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersUpdateOrderStatusResponse'
          description: "Request is not well-formed, syntactically incorrect, or violates\
            \ schema."
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersUpdateOrderStatus401Response'
          description: "Authentication failed due to missing authorization header,\
            \ or invalid authentication credentials."
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersUpdateOrderStatus404Response'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersUpdateOrderStatus422Response'
          description: "The requested action could not be performed, semantically\
            \ incorrect, or failed business validation."
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
        - https://uri.paypal.com/services/payments/orders/client-side-integration
      summary: Update order
      tags:
      - orders
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /v2/checkout/orders/{id}/confirm-payment-source:
    post:
      description: Payer confirms their intent to pay for the the Order with the given
        payment source.
      operationId: Orders_confirmPaymentSource
      parameters:
      - explode: false
        in: header
        name: PayPal-Client-Metadata-Id
        required: false
        schema:
          maxLength: 36
          minLength: 1
          type: string
        style: simple
      - description: The ID of the order that the tracking information is associated
          with.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 36
          minLength: 1
          pattern: "^[A-Z0-9]+$"
          type: string
        style: simple
      - description: "The preferred server response upon successful completion of\
          \ the request. Value is:<ul><li><code>return=minimal</code>. The server\
          \ returns a minimal response to optimize communication between the API caller\
          \ and the server. A minimal response includes the <code>id</code>, <code>status</code>\
          \ and HATEOAS links.</li><li><code>return=representation</code>. The server\
          \ returns a complete resource representation, including the current state\
          \ of the resource.</li></ul>"
        explode: false
        in: header
        name: Prefer
        required: false
        schema:
          default: return=minimal
          example: return=minimal
          maxLength: 25
          minLength: 1
          pattern: "^[a-zA-Z=]*$"
          type: string
          x-konfig-original-example: return=minimal
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-prefer-schema
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              confirm_order_request:
                value:
                  payment_source:
                    paypal:
                      name:
                        given_name: John
                        surname: Doe
                      email_address: customer@example.com
                      experience_context:
                        payment_method_preference: IMMEDIATE_PAYMENT_REQUIRED
                        payment_method_selected: PAYPAL
                        brand_name: EXAMPLE INC
                        locale: en-US
                        landing_page: LOGIN
                        shipping_preference: SET_PROVIDED_ADDRESS
                        user_action: PAY_NOW
                        return_url: https://example.com/returnUrl
                        cancel_url: https://example.com/cancelUrl
            schema:
              $ref: '#/components/schemas/confirm_order_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: A successful request indicates that the payment source was
            added to the Order. A successful request returns the HTTP `200 OK` status
            code with a JSON response body that shows order details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersConfirmPaymentSourceResponse'
          description: "Request is not well-formed, syntactically incorrect, or violates\
            \ schema."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersConfirmPaymentSource403Response'
          description: Authorization failed due to insufficient permissions.
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersConfirmPaymentSource422Response'
          description: "The requested action could not be performed, semantically\
            \ incorrect, or failed business validation."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
          description: An internal server error has occurred.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
        - https://uri.paypal.com/services/payments/initiatepayment
      summary: Confirm the Order
      tags:
      - orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-checkout-orders-id-confirm-payment-source
      x-content-type: application/json
      x-accepts: application/json
  /v2/checkout/orders/{id}/authorize:
    post:
      description: "Authorizes payment for an order. To successfully authorize payment\
        \ for an order, the buyer must first approve the order or a valid payment_source\
        \ must be provided in the request. A buyer can approve the order upon being\
        \ redirected to the rel:approve URL that was returned in the HATEOAS links\
        \ in the create order response.<blockquote><strong>Note:</strong> For error\
        \ handling and troubleshooting, see <a href=\"/api/rest/reference/orders/v2/errors/#authorize-order\"\
        >Orders v2 errors</a>.</blockquote>"
      operationId: Orders_authorizePaymentOrder
      parameters:
      - description: The server stores keys for 6 hours. The API callers can request
          the times to up to 72 hours by speaking to their Account Manager.
        explode: false
        in: header
        name: PayPal-Request-Id
        required: false
        schema:
          maxLength: 108
          minLength: 1
          type: string
        style: simple
      - description: "The preferred server response upon successful completion of\
          \ the request. Value is:<ul><li><code>return=minimal</code>. The server\
          \ returns a minimal response to optimize communication between the API caller\
          \ and the server. A minimal response includes the <code>id</code>, <code>status</code>\
          \ and HATEOAS links.</li><li><code>return=representation</code>. The server\
          \ returns a complete resource representation, including the current state\
          \ of the resource.</li></ul>"
        explode: false
        in: header
        name: Prefer
        required: false
        schema:
          default: return=minimal
          example: return=minimal
          maxLength: 25
          minLength: 1
          pattern: "^[a-zA-Z=]*$"
          type: string
          x-konfig-original-example: return=minimal
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-prefer-schema
        style: simple
      - explode: false
        in: header
        name: PayPal-Client-Metadata-Id
        required: false
        schema:
          maxLength: 36
          minLength: 1
          type: string
        style: simple
      - description: The ID of the order that the tracking information is associated
          with.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 36
          minLength: 1
          pattern: "^[A-Z0-9]+$"
          type: string
        style: simple
      - description: "An API-caller-provided JSON Web Token (JWT) assertion that identifies\
          \ the merchant. For details, see <a href=\"/api/rest/requests/#paypal-auth-assertion\"\
          >PayPal-Auth-Assertion</a>."
        explode: false
        in: header
        name: PayPal-Auth-Assertion
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order_authorize_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order_authorize_response'
          description: A successful response to an idempotent request returns the
            HTTP `200 OK` status code with a JSON response body that shows authorized
            payment details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order_authorize_response'
          description: "A successful response to a non-idempotent request returns\
            \ the HTTP `201 Created` status code with a JSON response body that shows\
            \ authorized payment details. If a duplicate response is retried, returns\
            \ the HTTP `200 OK` status code. By default, the response is minimal.\
            \ If you need the complete resource representation, you must pass the\
            \ <a href=\"/docs/api/orders/v2/#orders-authorize-header-parameters\"\
            ><code>Prefer: return=representation</code> request header</a>."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAuthorizePaymentOrderResponse'
          description: "Request is not well-formed, syntactically incorrect, or violates\
            \ schema."
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAuthorizePaymentOrder401Response'
          description: "Authentication failed due to missing authorization header,\
            \ or invalid authentication credentials."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAuthorizePaymentOrder403Response'
          description: The authorized payment failed due to insufficient permissions.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAuthorizePaymentOrder404Response'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAuthorizePaymentOrder422Response'
          description: "The requested action could not be performed, semantically\
            \ incorrect, or failed business validation."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
          description: An internal server error has occurred.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
        - https://uri.paypal.com/services/payments/orders/client-side-integration
      summary: Authorize payment for order
      tags:
      - orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-checkout-orders-id-authorize
      x-content-type: application/json
      x-accepts: application/json
  /v2/checkout/orders/{id}/capture:
    post:
      description: "Captures payment for an order. To successfully capture payment\
        \ for an order, the buyer must first approve the order or a valid payment_source\
        \ must be provided in the request. A buyer can approve the order upon being\
        \ redirected to the rel:approve URL that was returned in the HATEOAS links\
        \ in the create order response.<blockquote><strong>Note:</strong> For error\
        \ handling and troubleshooting, see <a href=\"/api/rest/reference/orders/v2/errors/#capture-order\"\
        >Orders v2 errors</a>.</blockquote>"
      operationId: Orders_capturePayment
      parameters:
      - description: The server stores keys for 6 hours. The API callers can request
          the times to up to 72 hours by speaking to their Account Manager.
        explode: false
        in: header
        name: PayPal-Request-Id
        required: false
        schema:
          maxLength: 108
          minLength: 1
          type: string
        style: simple
      - description: "The preferred server response upon successful completion of\
          \ the request. Value is:<ul><li><code>return=minimal</code>. The server\
          \ returns a minimal response to optimize communication between the API caller\
          \ and the server. A minimal response includes the <code>id</code>, <code>status</code>\
          \ and HATEOAS links.</li><li><code>return=representation</code>. The server\
          \ returns a complete resource representation, including the current state\
          \ of the resource.</li></ul>"
        explode: false
        in: header
        name: Prefer
        required: false
        schema:
          default: return=minimal
          example: return=minimal
          maxLength: 25
          minLength: 1
          pattern: "^[a-zA-Z=]*$"
          type: string
          x-konfig-original-example: return=minimal
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-prefer-schema
        style: simple
      - explode: false
        in: header
        name: PayPal-Client-Metadata-Id
        required: false
        schema:
          maxLength: 36
          minLength: 1
          type: string
        style: simple
      - description: The ID of the order that the tracking information is associated
          with.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 36
          minLength: 1
          pattern: "^[A-Z0-9]+$"
          type: string
        style: simple
      - description: "An API-caller-provided JSON Web Token (JWT) assertion that identifies\
          \ the merchant. For details, see <a href=\"/api/rest/requests/#paypal-auth-assertion\"\
          >PayPal-Auth-Assertion</a>."
        explode: false
        in: header
        name: PayPal-Auth-Assertion
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order_capture_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: A successful response to an idempotent request returns the
            HTTP `200 OK` status code with a JSON response body that shows captured
            payment details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: "A successful response to a non-idempotent request returns\
            \ the HTTP `201 Created` status code with a JSON response body that shows\
            \ captured payment details. If a duplicate response is retried, returns\
            \ the HTTP `200 OK` status code. By default, the response is minimal.\
            \ If you need the complete resource representation, pass the <a href=\"\
            /docs/api/orders/v2/#orders-authorize-header-parameters\"><code>Prefer:\
            \ return=representation</code> request header</a>."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCapturePaymentResponse'
          description: "Request is not well-formed, syntactically incorrect, or violates\
            \ schema."
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCapturePayment401Response'
          description: "Authentication failed due to missing authorization header,\
            \ or invalid authentication credentials."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCapturePayment403Response'
          description: The authorized payment failed due to insufficient permissions.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCapturePayment404Response'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCapturePayment422Response'
          description: "The requested action could not be performed, semantically\
            \ incorrect, or failed business validation."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
          description: An internal server error has occurred.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
        - https://uri.paypal.com/services/payments/orders/client-side-integration
      summary: Capture payment for order
      tags:
      - orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-checkout-orders-id-capture
      x-content-type: application/json
      x-accepts: application/json
  /v2/checkout/orders/{id}/track:
    post:
      description: Adds tracking information for an Order.
      operationId: Orders_addTrackingInformation
      parameters:
      - description: The ID of the order that the tracking information is associated
          with.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 36
          minLength: 1
          pattern: "^[A-Z0-9]+$"
          type: string
        style: simple
      - description: "An API-caller-provided JSON Web Token (JWT) assertion that identifies\
          \ the merchant. For details, see <a href=\"/api/rest/requests/#paypal-auth-assertion\"\
          >PayPal-Auth-Assertion</a>."
        explode: false
        in: header
        name: PayPal-Auth-Assertion
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order_tracker_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: A successful response to an idempotent request returns the
            HTTP `200 OK` status code with a JSON response body that shows tracker
            details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: "A successful response to a non-idempotent request returns\
            \ the HTTP `201 Created` status code with a JSON response body that shows\
            \ tracker details. If a duplicate response is retried, returns the HTTP\
            \ `200 OK` status code."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAddTrackingInformationResponse'
          description: "Request is not well-formed, syntactically incorrect, or violates\
            \ schema."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAddTrackingInformation403Response'
          description: Authorization failed due to insufficient permissions.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAddTrackingInformation404Response'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAddTrackingInformation422Response'
          description: "The requested action could not be performed, semantically\
            \ incorrect, or failed business validation."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
          description: An internal server error has occurred.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
      summary: Add tracking information for an Order.
      tags:
      - orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-checkout-orders-id-track
      x-content-type: application/json
      x-accepts: application/json
  /v2/checkout/orders/{id}/trackers/{tracker_id}:
    patch:
      description: "Updates or cancels the tracking information for a PayPal order,\
        \ by ID. Updatable attributes or objects:<br/><br/><table><thead><th>Attribute</th><th>Op</th><th>Notes</th></thead><tbody></tr><tr><td><code>items</code></td><td>replace</td><td>Using\
        \ replace op for <code>items</code> will replace the entire <code>items</code>\
        \ object with the value sent in request.</td></tr><tr><td><code>notify_payer</code></td><td>replace,\
        \ add</td><td></td></tr><tr><td><code>status</code></td><td>replace</td><td>Only\
        \ patching status to CANCELLED is currently supported.</td></tr></tbody></table>"
      operationId: Trackers_updateTrackingInfo
      parameters:
      - description: The ID of the order that the tracking information is associated
          with.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 36
          minLength: 1
          pattern: "^[A-Z0-9]+$"
          type: string
        style: simple
      - description: The order tracking ID.
        explode: false
        in: path
        name: tracker_id
        required: true
        schema:
          maxLength: 36
          minLength: 1
          pattern: "^[A-Z0-9]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              orders_patch_request:
                value:
                - op: replace
                  path: /purchase_units/@reference_id=='PUHF'/shipping/address
                  value:
                    address_line_1: 2211 N First Street
                    address_line_2: Building 17
                    admin_area_2: San Jose
                    admin_area_1: CA
                    postal_code: "95131"
                    country_code: US
            schema:
              $ref: '#/components/schemas/patch_request'
      responses:
        "204":
          description: A successful request returns the HTTP `204 No Content` status
            code with an empty object in the JSON response body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackersUpdateTrackingInfoResponse'
          description: "Request is not well-formed, syntactically incorrect, or violates\
            \ schema."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackersUpdateTrackingInfo403Response'
          description: Authorization failed due to insufficient permissions.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackersUpdateTrackingInfo404Response'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackersUpdateTrackingInfo422Response'
          description: "The requested action could not be performed, semantically\
            \ incorrect, or failed business validation."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
          description: An internal server error has occurred.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
      summary: Update or cancel tracking information for a PayPal order
      tags:
      - trackers
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
components:
  parameters:
    paypal_request_id:
      description: The server stores keys for 6 hours. The API callers can request
        the times to up to 72 hours by speaking to their Account Manager.
      explode: false
      in: header
      name: PayPal-Request-Id
      required: false
      schema:
        maxLength: 108
        minLength: 1
        type: string
      style: simple
    paypal_partner_attribution_id:
      explode: false
      in: header
      name: PayPal-Partner-Attribution-Id
      required: false
      schema:
        maxLength: 36
        minLength: 1
        type: string
      style: simple
    paypal_client_metadata_id:
      explode: false
      in: header
      name: PayPal-Client-Metadata-Id
      required: false
      schema:
        maxLength: 36
        minLength: 1
        type: string
      style: simple
    prefer:
      description: "The preferred server response upon successful completion of the\
        \ request. Value is:<ul><li><code>return=minimal</code>. The server returns\
        \ a minimal response to optimize communication between the API caller and\
        \ the server. A minimal response includes the <code>id</code>, <code>status</code>\
        \ and HATEOAS links.</li><li><code>return=representation</code>. The server\
        \ returns a complete resource representation, including the current state\
        \ of the resource.</li></ul>"
      explode: false
      in: header
      name: Prefer
      required: false
      schema:
        default: return=minimal
        example: return=minimal
        maxLength: 25
        minLength: 1
        pattern: "^[a-zA-Z=]*$"
        type: string
        x-konfig-original-example: return=minimal
        x-konfig-generated-schema: konfig-generated-schema-components-parameters-prefer-schema
      style: simple
    id:
      description: The ID of the order that the tracking information is associated
        with.
      explode: false
      in: path
      name: id
      required: true
      schema:
        maxLength: 36
        minLength: 1
        pattern: "^[A-Z0-9]+$"
        type: string
      style: simple
    fields:
      description: A comma-separated list of fields that should be returned for the
        order. Valid filter field is `payment_source`.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        pattern: "^[a-z_]*$"
        type: string
      style: form
    paypal_auth_assertion:
      description: "An API-caller-provided JSON Web Token (JWT) assertion that identifies\
        \ the merchant. For details, see <a href=\"/api/rest/requests/#paypal-auth-assertion\"\
        >PayPal-Auth-Assertion</a>."
      explode: false
      in: header
      name: PayPal-Auth-Assertion
      required: false
      schema:
        type: string
      style: simple
    tracker_id:
      description: The order tracking ID.
      explode: false
      in: path
      name: tracker_id
      required: true
      schema:
        maxLength: 36
        minLength: 1
        pattern: "^[A-Z0-9]+$"
        type: string
      style: simple
  requestBodies:
    patch_request:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/patch_request'
  responses:
    default:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_default'
      description: The default response.
  schemas:
    "400":
      properties:
        details:
          items: {}
          type: array
    "401":
      properties:
        details:
          items:
            $ref: '#/components/schemas/INVALID_ACCOUNT_STATUS'
          type: array
    "403":
      properties:
        details:
          items: {}
          type: array
    "404":
      properties:
        details:
          items:
            $ref: '#/components/schemas/INVALID_RESOURCE_ID'
          type: array
    "422":
      properties:
        details:
          items: {}
          type: array
    error_details:
      description: The error details. Required for client-side `4XX` errors.
      properties:
        description:
          description: "The human-readable description for an issue. The description\
            \ can change over the lifetime of an API, so clients must not depend on\
            \ this value."
          type: string
        field:
          description: "The field that caused the error. If this field is in the body,\
            \ set this value to the field's JSON pointer value. Required for client-side\
            \ errors."
          type: string
        value:
          description: The value of the field that caused the error.
          type: string
        location:
          $ref: '#/components/schemas/error_location'
        issue:
          description: "The unique, fine-grained application-level error code."
          type: string
      required:
      - issue
      title: Error Details
      type: object
    error_location:
      default: body
      description: "The location of the field that caused the error. Value is `body`,\
        \ `path`, or `query`."
      enum:
      - body
      - path
      - query
      example: body
      type: string
      x-konfig-original-example: body
      x-konfig-generated-schema: konfig-generated-schema-components-schemas-error_location
    error_default: {}
    error_link_description:
      description: "The request-related [HATEOAS link](/api/rest/responses/#hateoas-links)\
        \ information."
      properties:
        href:
          description: "The complete target URL. To make the related call, combine\
            \ the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570)\
            \ link. For pre-processing, include the `$`, `(`, and `)` characters.\
            \ The `href` is the key HATEOAS component that links a completed call\
            \ with a subsequent call."
          maxLength: 20000
          minLength: 0
          pattern: ^.*$
          type: string
        rel:
          description: "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4),\
            \ which serves as an ID for a link that unambiguously describes the semantics\
            \ of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml)."
          maxLength: 100
          minLength: 0
          pattern: ^.*$
          type: string
        method:
          description: The HTTP method required to make the related call.
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - PATCH
          maxLength: 6
          minLength: 3
          pattern: "^[A-Z]*$"
          type: string
      required:
      - href
      - rel
      title: Link Description
      type: object
    error_400:
      description: "Request is not well-formed, syntactically incorrect, or violates\
        \ schema."
      properties:
        name:
          enum:
          - INVALID_REQUEST
          type: string
        message:
          enum:
          - "Request is not well-formed, syntactically incorrect, or violates schema."
          type: string
        details:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)."
          items:
            $ref: '#/components/schemas/error_link_description'
          maxItems: 10000
          minItems: 0
          type: array
      title: Bad Request Error
      type: object
    error_401:
      description: "Authentication failed due to missing Authorization header, or\
        \ invalid authentication credentials."
      properties:
        name:
          enum:
          - AUTHENTICATION_FAILURE
          type: string
        message:
          enum:
          - "Authentication failed due to missing authorization header, or invalid\
            \ authentication credentials."
          type: string
        details:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)."
          items:
            $ref: '#/components/schemas/error_link_description'
          maxItems: 10000
          minItems: 0
          type: array
      title: Unauthorized Error
      type: object
    error_403:
      description: "The client is not authorized to access this resource, although\
        \ it may have valid credentials. "
      properties:
        name:
          enum:
          - NOT_AUTHORIZED
          type: string
        message:
          enum:
          - Authorization failed due to insufficient permissions.
          type: string
        details:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)."
          items:
            $ref: '#/components/schemas/error_link_description'
          maxItems: 10000
          minItems: 0
          type: array
      title: Not Authorized Error
      type: object
    error_404:
      description: The server has not found anything matching the request URI. This
        either means that the URI is incorrect or the resource is not available.
      properties:
        name:
          enum:
          - RESOURCE_NOT_FOUND
          type: string
        message:
          enum:
          - The specified resource does not exist.
          type: string
        details:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)."
          items:
            $ref: '#/components/schemas/error_link_description'
          maxItems: 10000
          minItems: 0
          type: array
      title: Not found Error
      type: object
    error_409:
      description: The server has detected a conflict while processing this request.
      properties:
        name:
          enum:
          - RESOURCE_CONFLICT
          type: string
        message:
          enum:
          - The server has detected a conflict while processing this request.
          type: string
        details:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)."
          items:
            $ref: '#/components/schemas/error_link_description'
          maxItems: 10000
          minItems: 0
          type: array
      title: Resource Conflict Error
      type: object
    error_415:
      description: The server does not support the request payload's media type.
      properties:
        name:
          enum:
          - UNSUPPORTED_MEDIA_TYPE
          type: string
        message:
          enum:
          - The server does not support the request payload's media type.
          type: string
        details:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)."
          items:
            $ref: '#/components/schemas/error_link_description'
          maxItems: 10000
          minItems: 0
          type: array
      title: Unsupported Media Type Error
      type: object
    error_422:
      description: The requested action cannot be performed and may require interaction
        with APIs or processes outside of the current request. This is distinct from
        a 500 response in that there are no systemic problems limiting the API from
        performing the request.
      properties:
        name:
          enum:
          - UNPROCESSABLE_ENTITY
          type: string
        message:
          enum:
          - "The requested action could not be performed, semantically incorrect,\
            \ or failed business validation."
          type: string
        details:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)."
          items:
            $ref: '#/components/schemas/error_link_description'
          maxItems: 10000
          minItems: 0
          type: array
      title: Unprocessable Entity Error
      type: object
    error_500:
      description: "This is either a system or application error, and generally indicates\
        \ that although the client appeared to provide a correct request, something\
        \ unexpected has gone wrong on the server."
      example:
        name: INTERNAL_SERVER_ERROR
        message: An internal server error occurred.
        debug_id: 90957fca61718
        links:
        - href: https://developer.paypal.com/api/orders/v2/#error-INTERNAL_SERVER_ERROR
          rel: information_link
      properties:
        name:
          enum:
          - INTERNAL_SERVER_ERROR
          example: INTERNAL_SERVER_ERROR
          type: string
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-error_500-properties-name
        message:
          enum:
          - An internal server error occurred.
          example: An internal server error occurred.
          type: string
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-error_500-properties-message
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          example: 90957fca61718
          type: string
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-error_500-properties-debug_id
        links:
          description: "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)."
          items:
            $ref: '#/components/schemas/error_link_description'
          maxItems: 10000
          minItems: 0
          type: array
      title: Internal Server Error
      type: object
      x-konfig-original-example:
        name: INTERNAL_SERVER_ERROR
        message: An internal server error occurred.
        debug_id: 90957fca61718
        links:
        - href: https://developer.paypal.com/api/orders/v2/#error-INTERNAL_SERVER_ERROR
          rel: information_link
      x-konfig-generated-schema: konfig-generated-schema-components-schemas-error_500
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    error_503:
      description: "The server is temporarily unable to handle the request, for example,\
        \ because of planned maintenance or downtime."
      example:
        name: SERVICE_UNAVAILABLE
        message: Service Unavailable.
        debug_id: 90957fca61718
        information_link: https://developer.paypal.com/docs/api/orders/v2/#error-SERVICE_UNAVAILABLE
      properties:
        name:
          enum:
          - SERVICE_UNAVAILABLE
          example: SERVICE_UNAVAILABLE
          type: string
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-error_503-properties-name
        message:
          enum:
          - Service Unavailable.
          example: Service Unavailable.
          type: string
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-error_503-properties-message
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          example: 90957fca61718
          type: string
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-error_503-properties-debug_id
        links:
          description: "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)."
          items:
            $ref: '#/components/schemas/error_link_description'
          maxItems: 10000
          minItems: 0
          type: array
      title: Service Unavailable Error
      type: object
      x-konfig-original-example:
        name: SERVICE_UNAVAILABLE
        message: Service Unavailable.
        debug_id: 90957fca61718
        information_link: https://developer.paypal.com/docs/api/orders/v2/#error-SERVICE_UNAVAILABLE
      x-konfig-generated-schema: konfig-generated-schema-components-schemas-error_503
    checkout_payment_intent:
      description: The intent to either capture payment immediately or authorize a
        payment for an order after order creation.
      enum:
      - CAPTURE
      - AUTHORIZE
      title: Checkout Payment Intent
      type: string
    email:
      description: "The internationalized email address.<blockquote><strong>Note:</strong>\
        \ Up to 64 characters are allowed before and 255 characters are allowed after\
        \ the <code>@</code> sign. However, the generally accepted maximum length\
        \ for an email address is 254 characters. The pattern verifies that an unquoted\
        \ <code>@</code> sign exists.</blockquote>"
      format: merchant_common_email_address_v2
      maxLength: 254
      minLength: 3
      pattern: "(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\\\
        x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\[\\x01-\\x09\\\
        x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\\
        .)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\\
        .){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\\\
        x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\[\\x01-\\x09\\x0b\\\
        x0c\\x0e-\\x7f])+)\\])"
      type: string
    account_id:
      description: The account identifier for a PayPal account.
      format: ppaas_payer_id_v3
      maxLength: 13
      minLength: 13
      pattern: "^[2-9A-HJ-NP-Z]{13}$"
      title: PayPal Account Identifier
      type: string
    payer_base:
      description: The customer who approves and pays for the order. The customer
        is also known as the payer.
      properties:
        email_address:
          description: "The internationalized email address.<blockquote><strong>Note:</strong>\
            \ Up to 64 characters are allowed before and 255 characters are allowed\
            \ after the <code>@</code> sign. However, the generally accepted maximum\
            \ length for an email address is 254 characters. The pattern verifies\
            \ that an unquoted <code>@</code> sign exists.</blockquote>"
          format: merchant_common_email_address_v2
          maxLength: 254
          minLength: 3
          pattern: "(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\\\
            x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\[\\x01-\\\
            x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\\
            .)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\\
            .){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\\\
            x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\[\\x01-\\x09\\\
            x0b\\x0c\\x0e-\\x7f])+)\\])"
          type: string
        payer_id:
          description: The account identifier for a PayPal account.
          format: ppaas_payer_id_v3
          maxLength: 13
          minLength: 13
          pattern: "^[2-9A-HJ-NP-Z]{13}$"
          title: PayPal Account Identifier
          type: string
      title: Payer Base
      type: object
    name:
      description: The name of the party.
      properties:
        prefix:
          description: "The prefix, or title, to the party's name."
          maxLength: 140
          type: string
        given_name:
          description: "When the party is a person, the party's given, or first, name."
          maxLength: 140
          type: string
        surname:
          description: "When the party is a person, the party's surname or family\
            \ name. Also known as the last name. Required when the party is a person.\
            \ Use also to store multiple surnames including the matronymic, or mother's,\
            \ surname."
          maxLength: 140
          type: string
        middle_name:
          description: "When the party is a person, the party's middle name. Use also\
            \ to store multiple middle names including the patronymic, or father's,\
            \ middle name."
          maxLength: 140
          type: string
        suffix:
          description: The suffix for the party's name.
          maxLength: 140
          type: string
        alternate_full_name:
          description: "DEPRECATED. The party's alternate name. Can be a business\
            \ name, nickname, or any other name that cannot be split into first, last\
            \ name. Required when the party is a business."
          maxLength: 300
          type: string
        full_name:
          description: "When the party is a person, the party's full name."
          maxLength: 300
          type: string
      title: Name
      type: object
    phone_type:
      description: The phone type.
      enum:
      - FAX
      - HOME
      - MOBILE
      - OTHER
      - PAGER
      title: Phone Type
      type: string
    phone:
      description: "The phone number, in its canonical international [E.164 numbering\
        \ plan format](https://www.itu.int/rec/T-REC-E.164/en)."
      properties:
        country_code:
          description: "The country calling code (CC), in its canonical international\
            \ [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en).\
            \ The combined length of the CC and the national number must not be greater\
            \ than 15 digits. The national number consists of a national destination\
            \ code (NDC) and subscriber number (SN)."
          maxLength: 3
          minLength: 1
          pattern: "^[0-9]{1,3}?$"
          type: string
        national_number:
          description: "The national number, in its canonical international [E.164\
            \ numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The\
            \ combined length of the country calling code (CC) and the national number\
            \ must not be greater than 15 digits. The national number consists of\
            \ a national destination code (NDC) and subscriber number (SN)."
          maxLength: 14
          minLength: 1
          pattern: "^[0-9]{1,14}?$"
          type: string
        extension_number:
          description: The extension number.
          maxLength: 15
          minLength: 1
          pattern: "^[0-9]{1,15}?$"
          type: string
      required:
      - country_code
      - national_number
      title: Phone
      type: object
    phone_with_type:
      description: The phone information.
      properties:
        phone_type:
          $ref: '#/components/schemas/phone_type'
        phone_number:
          $ref: '#/components/schemas/phone'
      required:
      - phone_number
      title: Phone With Type
      type: object
    date_no_time:
      description: "The stand-alone date, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).\
        \ To represent special legal values, such as a date of birth, you should use\
        \ dates with no associated time or time-zone data. Whenever possible, use\
        \ the standard `date_time` type. This regular expression does not validate\
        \ all dates. For example, February 31 is valid and nothing is known about\
        \ leap years."
      format: ppaas_date_notime_v2
      maxLength: 10
      minLength: 10
      pattern: "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$"
      type: string
    tax_info:
      description: The tax ID of the customer. The customer is also known as the payer.
        Both `tax_id` and `tax_id_type` are required.
      properties:
        tax_id:
          description: The customer's tax ID value.
          maxLength: 14
          minLength: 1
          pattern: "([a-zA-Z0-9])"
          type: string
        tax_id_type:
          description: The customer's tax ID type.
          enum:
          - BR_CPF
          - BR_CNPJ
          maxLength: 14
          minLength: 1
          pattern: "^[A-Z0-9_]+$"
          type: string
      required:
      - tax_id
      - tax_id_type
      title: Tax Information
      type: object
    country_code:
      description: "The [two-character ISO 3166-1 code](https://raw.githubusercontent.com)\
        \ that identifies the country or region.<blockquote><strong>Note:</strong>\
        \ The country code for Great Britain is <code>GB</code> and not <code>UK</code>\
        \ as used in the top-level domain names for that country. Use the `C2` country\
        \ code for China worldwide for comparable uncontrolled price (CUP) method,\
        \ bank card, and cross-border transactions.</blockquote>"
      format: ppaas_common_country_code_v2
      maxLength: 2
      minLength: 2
      pattern: "^([A-Z]{2}|C2)$"
      type: string
    address_portable:
      description: "The portable international postal address. Maps to [AddressValidationMetadata](https://github.com/googlei18n/libaddressinput/wiki/AddressValidationMetadata)\
        \ and HTML 5.1 [Autofilling form controls: the autocomplete attribute](https://www.w3.org/TR/html51/sec-forms.html#autofilling-form-controls-the-autocomplete-attribute)."
      properties:
        address_line_1:
          description: "The first line of the address. For example, number or street.\
            \ For example, `173 Drury Lane`. Required for data entry and compliance\
            \ and risk checks. Must contain the full address."
          maxLength: 300
          type: string
        address_line_2:
          description: "The second line of the address. For example, suite or apartment\
            \ number."
          maxLength: 300
          type: string
        address_line_3:
          description: "The third line of the address, if needed. For example, a street\
            \ complement for Brazil, direction text, such as `next to Walmart`, or\
            \ a landmark in an Indian address."
          maxLength: 100
          type: string
        admin_area_4:
          description: "The neighborhood, ward, or district. Smaller than `admin_area_level_3`\
            \ or `sub_locality`. Value is:<ul><li>The postal sorting code for Guernsey\
            \ and many French territories, such as French Guiana.</li><li>The fine-grained\
            \ administrative levels in China.</li></ul>"
          maxLength: 100
          type: string
        admin_area_3:
          description: "A sub-locality, suburb, neighborhood, or district. Smaller\
            \ than `admin_area_level_2`. Value is:<ul><li>Brazil. Suburb, bairro,\
            \ or neighborhood.</li><li>India. Sub-locality or district. Street name\
            \ information is not always available but a sub-locality or district can\
            \ be a very small area.</li></ul>"
          maxLength: 100
          type: string
        admin_area_2:
          description: "A city, town, or village. Smaller than `admin_area_level_1`."
          maxLength: 120
          type: string
        admin_area_1:
          description: "The highest level sub-division in a country, which is usually\
            \ a province, state, or ISO-3166-2 subdivision. Format for postal delivery.\
            \ For example, `CA` and not `California`. Value, by country, is:<ul><li>UK.\
            \ A county.</li><li>US. A state.</li><li>Canada. A province.</li><li>Japan.\
            \ A prefecture.</li><li>Switzerland. A kanton.</li></ul>"
          maxLength: 300
          type: string
        postal_code:
          description: "The postal code, which is the zip code or equivalent. Typically\
            \ required for countries with a postal code or an equivalent. See [postal\
            \ code](https://en.wikipedia.org/wiki/Postal_code)."
          maxLength: 60
          type: string
        country_code:
          description: "The [two-character ISO 3166-1 code](https://raw.githubusercontent.com)\
            \ that identifies the country or region.<blockquote><strong>Note:</strong>\
            \ The country code for Great Britain is <code>GB</code> and not <code>UK</code>\
            \ as used in the top-level domain names for that country. Use the `C2`\
            \ country code for China worldwide for comparable uncontrolled price (CUP)\
            \ method, bank card, and cross-border transactions.</blockquote>"
          format: ppaas_common_country_code_v2
          maxLength: 2
          minLength: 2
          pattern: "^([A-Z]{2}|C2)$"
          type: string
        address_details:
          $ref: '#/components/schemas/Address_Details_Property'
      required:
      - country_code
      title: Portable Postal Address (Medium-Grained)
      type: object
    payer:
      allOf:
      - $ref: '#/components/schemas/payer_base'
      - $ref: '#/components/schemas/payer_allOf'
      description: The customer who approves and pays for the order. The customer
        is also known as the payer.
      format: payer_v1
      title: Customer
      type: object
    currency_code:
      description: "The [three-character ISO-4217 currency code](https://raw.githubusercontent.com)\
        \ that identifies the currency."
      format: ppaas_common_currency_code_v2
      maxLength: 3
      minLength: 3
      type: string
    money:
      description: "The currency and amount for a financial transaction, such as a\
        \ balance or payment due."
      properties:
        currency_code:
          description: "The [three-character ISO-4217 currency code](https://raw.githubusercontent.com)\
            \ that identifies the currency."
          format: ppaas_common_currency_code_v2
          maxLength: 3
          minLength: 3
          type: string
        value:
          description: "The value, which might be:<ul><li>An integer for currencies\
            \ like `JPY` that are not typically fractional.</li><li>A decimal fraction\
            \ for currencies like `TND` that are subdivided into thousandths.</li></ul>For\
            \ the required number of decimal places for a currency code, see [Currency\
            \ Codes](https://raw.githubusercontent.com)."
          maxLength: 32
          pattern: "^((-?[0-9]+)|(-?([0-9]+)?[.][0-9]+))$"
          type: string
      required:
      - currency_code
      - value
      title: Money
      type: object
    amount_breakdown:
      description: "The breakdown of the amount. Breakdown provides details such as\
        \ total item amount, total tax amount, shipping, handling, insurance, and\
        \ discounts, if any."
      properties:
        item_total:
          $ref: '#/components/schemas/money'
        shipping:
          $ref: '#/components/schemas/money'
        handling:
          $ref: '#/components/schemas/money'
        tax_total:
          $ref: '#/components/schemas/money'
        insurance:
          $ref: '#/components/schemas/money'
        shipping_discount:
          $ref: '#/components/schemas/money'
        discount:
          $ref: '#/components/schemas/money'
      title: Amount Breakdown
      type: object
    amount_with_breakdown:
      allOf:
      - $ref: '#/components/schemas/money'
      - $ref: '#/components/schemas/amount_with_breakdown_allOf'
      description: "The total order amount with an optional breakdown that provides\
        \ details, such as the total item amount, total tax amount, shipping, handling,\
        \ insurance, and discounts, if any.<br/>If you specify `amount.breakdown`,\
        \ the amount equals `item_total` plus `tax_total` plus `shipping` plus `handling`\
        \ plus `insurance` minus `shipping_discount` minus discount.<br/>The amount\
        \ must be a positive number. For listed of supported currencies and decimal\
        \ precision, see the PayPal REST APIs <a href=\"/docs/integration/direct/rest/currency-codes/\"\
        >Currency Codes</a>."
      title: Amount with Breakdown
      type: object
    payee_base:
      description: The details for the merchant who receives the funds and fulfills
        the order. The merchant is also known as the payee.
      properties:
        email_address:
          description: "The internationalized email address.<blockquote><strong>Note:</strong>\
            \ Up to 64 characters are allowed before and 255 characters are allowed\
            \ after the <code>@</code> sign. However, the generally accepted maximum\
            \ length for an email address is 254 characters. The pattern verifies\
            \ that an unquoted <code>@</code> sign exists.</blockquote>"
          format: merchant_common_email_address_v2
          maxLength: 254
          minLength: 3
          pattern: "(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\\\
            x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\[\\x01-\\\
            x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\\
            .)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\\
            .){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\\\
            x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\[\\x01-\\x09\\\
            x0b\\x0c\\x0e-\\x7f])+)\\])"
          type: string
        merchant_id:
          description: The account identifier for a PayPal account.
          format: ppaas_payer_id_v3
          maxLength: 13
          minLength: 13
          pattern: "^[2-9A-HJ-NP-Z]{13}$"
          title: PayPal Account Identifier
          type: string
      title: Merchant Base
      type: object
    payee:
      allOf:
      - $ref: '#/components/schemas/payee_base'
      - properties: {}
      description: The merchant who receives the funds and fulfills the order. The
        merchant is also known as the payee.
      title: Payee
      type: object
    platform_fee:
      description: "The platform or partner fee, commission, or brokerage fee that\
        \ is associated with the transaction. Not a separate or isolated transaction\
        \ leg from the external perspective. The platform fee is limited in scope\
        \ and is always associated with the original payment for the purchase unit."
      properties:
        amount:
          $ref: '#/components/schemas/money'
        payee:
          $ref: '#/components/schemas/payee_base'
      required:
      - amount
      title: Platform Fee
      type: object
    disbursement_mode:
      default: INSTANT
      description: The funds that are held on behalf of the merchant.
      enum:
      - INSTANT
      - DELAYED
      example: INSTANT
      maxLength: 16
      minLength: 1
      pattern: "^[A-Z_]+$"
      title: Disbursement Mode
      type: string
      x-konfig-original-example: INSTANT
      x-konfig-generated-schema: konfig-generated-schema-components-schemas-disbursement_mode
    payment_instruction:
      description: Any additional payment instructions to be consider during payment
        processing. This processing instruction is applicable for Capturing an order
        or Authorizing an Order.
      properties:
        platform_fees:
          description: "An array of various fees, commissions, tips, or donations.\
            \ This field is only applicable to merchants that been enabled for PayPal\
            \ Commerce Platform for Marketplaces and Platforms capability."
          items:
            $ref: '#/components/schemas/platform_fee'
          maxItems: 1
          minItems: 0
          type: array
        disbursement_mode:
          $ref: '#/components/schemas/disbursement_mode'
        payee_pricing_tier_id:
          description: This field is only enabled for selected merchants/partners
            to use and provides the ability to trigger a specific pricing rate/plan
            for a payment transaction. The list of eligible 'payee_pricing_tier_id'
            would be provided to you by your Account Manager. Specifying values other
            than the one provided to you by your account manager would result in an
            error.
          maxLength: 20
          minLength: 1
          pattern: ^.*$
          type: string
        payee_receivable_fx_rate_id:
          description: FX identifier generated returned by PayPal to be used for payment
            processing in order to honor FX rate (for eligible integrations) to be
            used when amount is settled/received into the payee account.
          maxLength: 4000
          minLength: 1
          pattern: ^.*$
          type: string
      title: Payment Instruction
      type: object
    item:
      description: The details for the items to be purchased.
      properties:
        description:
          description: The detailed item description.
          maxLength: 127
          type: string
        name:
          description: The item name or title.
          maxLength: 127
          minLength: 1
          type: string
        unit_amount:
          $ref: '#/components/schemas/money'
        tax:
          $ref: '#/components/schemas/money'
        quantity:
          description: The item quantity. Must be a whole number.
          maxLength: 10
          pattern: "^[1-9][0-9]{0,9}$"
          type: string
        sku:
          description: The stock keeping unit (SKU) for the item.
          maxLength: 127
          type: string
        category:
          description: The item category type.
          enum:
          - DIGITAL_GOODS
          - PHYSICAL_GOODS
          - DONATION
          maxLength: 20
          minLength: 1
          type: string
      required:
      - name
      - quantity
      - unit_amount
      title: Item
      type: object
    shipping_type:
      description: A classification for the method of purchase fulfillment.
      enum:
      - SHIPPING
      - PICKUP
      - PICKUP_IN_STORE
      - PICKUP_FROM_PERSON
      title: Shipping Type
      type: string
    shipping_option:
      description: The options that the payee or merchant offers to the payer to ship
        or pick up their items.
      properties:
        id:
          description: A unique ID that identifies a payer-selected shipping option.
          maxLength: 127
          type: string
        label:
          description: "A description that the payer sees, which helps them choose\
            \ an appropriate shipping option. For example, `Free Shipping`, `USPS\
            \ Priority Shipping`, `Expédition prioritaire USPS`, or `USPS yōuxiān\
            \ fā huò`. Localize this description to the payer's locale."
          maxLength: 127
          type: string
        type:
          $ref: '#/components/schemas/shipping_type'
        amount:
          $ref: '#/components/schemas/money'
        selected:
          description: "If the API request sets `selected = true`, it represents the\
            \ shipping option that the payee or merchant expects to be pre-selected\
            \ for the payer when they first view the `shipping.options` in the PayPal\
            \ Checkout experience. As part of the response if a `shipping.option`\
            \ contains `selected=true`, it represents the shipping option that the\
            \ payer selected during the course of checkout with PayPal. Only one `shipping.option`\
            \ can be set to `selected=true`."
          type: boolean
      required:
      - id
      - label
      - selected
      title: Shipping Option
      type: object
    shipping_detail:
      description: The shipping details.
      properties:
        name:
          $ref: '#/components/schemas/name'
        type:
          description: "A classification for the method of purchase fulfillment (e.g\
            \ shipping, in-store pickup, etc). Either `type` or `options` may be present,\
            \ but not both."
          enum:
          - SHIPPING
          - PICKUP_IN_PERSON
          - PICKUP_IN_STORE
          - PICKUP_FROM_PERSON
          maxLength: 255
          minLength: 1
          pattern: "^[0-9A-Z_]+$"
          type: string
        options:
          description: An array of shipping options that the payee or merchant offers
            to the payer to ship or pick up their items.
          items:
            $ref: '#/components/schemas/shipping_option'
          maxItems: 10
          minItems: 0
          type: array
        address:
          $ref: '#/components/schemas/address_portable'
      title: Shipping Details
      type: object
    level_2_card_processing_data:
      description: The level 2 card processing data collections. If your merchant
        account has been configured for Level 2 processing this field will be passed
        to the processor on your behalf. Please contact your PayPal Technical Account
        Manager to define level 2 data for your business.
      properties:
        invoice_id:
          description: Use this field to pass a purchase identification value of up
            to 12 ASCII characters for AIB and 17 ASCII characters for all other processors.
          maxLength: 17
          minLength: 1
          pattern: "^[\\w‘\\-.,\":;\\!?]*$"
          type: string
        tax_total:
          $ref: '#/components/schemas/money'
      title: Level 2 Card Processing Data
      type: object
    line_item:
      allOf:
      - $ref: '#/components/schemas/item'
      - $ref: '#/components/schemas/line_item_allOf'
      description: The line items for this purchase. If your merchant account has
        been configured for Level 3 processing this field will be passed to the processor
        on your behalf.
      title: Lineitem
      type: object
    level_3_card_processing_data:
      description: "The level 3 card processing data collections, If your merchant\
        \ account has been configured for Level 3 processing this field will be passed\
        \ to the processor on your behalf. Please contact your PayPal Technical Account\
        \ Manager to define level 3 data for your business."
      properties:
        shipping_amount:
          $ref: '#/components/schemas/money'
        duty_amount:
          $ref: '#/components/schemas/money'
        discount_amount:
          $ref: '#/components/schemas/money'
        shipping_address:
          $ref: '#/components/schemas/address_portable'
        ships_from_postal_code:
          description: Use this field to specify the postal code of the shipping location.
          maxLength: 60
          minLength: 1
          pattern: "^[a-zA-Z0-9_'.-]*$"
          type: string
        line_items:
          description: A list of the items that were purchased with this payment.
            If your merchant account has been configured for Level 3 processing this
            field will be passed to the processor on your behalf.
          items:
            $ref: '#/components/schemas/line_item'
          maxItems: 100
          minItems: 1
          type: array
      title: Level 3 Card Processing Data
      type: object
    card_supplementary_data:
      description: "Merchants and partners can add Level 2 and 3 data to payments\
        \ to reduce risk and payment processing costs. For more information about\
        \ processing payments, see <a href=\"https://developer.paypal.com/docs/checkout/advanced/processing/\"\
        >checkout</a> or <a href=\"https://developer.paypal.com/docs/multiparty/checkout/advanced/processing/\"\
        >multiparty checkout</a>."
      properties:
        level_2:
          $ref: '#/components/schemas/level_2_card_processing_data'
        level_3:
          $ref: '#/components/schemas/level_3_card_processing_data'
      title: Card Supplementary Data
      type: object
    supplementary_data:
      description: "Supplementary data about a payment. This object passes information\
        \ that can be used to improve risk assessments and processing costs, for example,\
        \ by providing Level 2 and Level 3 payment data."
      properties:
        card:
          $ref: '#/components/schemas/card_supplementary_data'
      title: Supplementary Data
      type: object
    purchase_unit_request:
      description: The purchase unit request. Includes required information for the
        payment contract.
      properties:
        description:
          description: "The purchase description. The maximum length of the character\
            \ is dependent on the type of characters used. The character length is\
            \ specified assuming a US ASCII character. Depending on type of character;\
            \ (e.g. accented character, Japanese characters) the number of characters\
            \ that that can be specified as input might not equal the permissible\
            \ max length."
          maxLength: 127
          minLength: 1
          type: string
        reference_id:
          description: "The API caller-provided external ID for the purchase unit.\
            \ Required for multiple purchase units when you must update the order\
            \ through `PATCH`. If you omit this value and the order contains only\
            \ one purchase unit, PayPal sets this value to `default`."
          maxLength: 256
          minLength: 1
          type: string
        amount:
          $ref: '#/components/schemas/amount_with_breakdown'
        payee:
          $ref: '#/components/schemas/payee'
        payment_instruction:
          $ref: '#/components/schemas/payment_instruction'
        custom_id:
          description: The API caller-provided external ID. Used to reconcile client
            transactions with PayPal transactions. Appears in transaction and settlement
            reports but is not visible to the payer.
          maxLength: 127
          minLength: 1
          type: string
        invoice_id:
          description: The API caller-provided external invoice number for this order.
            Appears in both the payer's transaction history and the emails that the
            payer receives.
          maxLength: 127
          minLength: 1
          type: string
        soft_descriptor:
          description: "The soft descriptor is the dynamic text used to construct\
            \ the statement descriptor that appears on a payer's card statement.<br><br>If\
            \ an Order is paid using the \"PayPal Wallet\", the statement descriptor\
            \ will appear in following format on the payer's card statement: <code><var>PAYPAL_prefix</var>+(space)+<var>merchant_descriptor</var>+(space)+\
            \ <var>soft_descriptor</var></code><blockquote><strong>Note:</strong>\
            \ The merchant descriptor is the descriptor of the merchant’s payment\
            \ receiving preferences which can be seen by logging into the merchant\
            \ account https://www.sandbox.paypal.com/businessprofile/settings/info/edit</blockquote>The\
            \ <code>PAYPAL</code> prefix uses 8 characters. Only the first 22 characters\
            \ will be displayed in the statement. <br>For example, if:<ul><li>The\
            \ PayPal prefix toggle is <code>PAYPAL *</code>.</li><li>The merchant\
            \ descriptor in the profile is <code>Janes Gift</code>.</li><li>The soft\
            \ descriptor is <code>800-123-1234</code>.</li></ul>Then, the statement\
            \ descriptor on the card is <code>PAYPAL * Janes Gift 80</code>."
          maxLength: 22
          minLength: 1
          type: string
        items:
          description: An array of items that the customer purchases from the merchant.
          items:
            $ref: '#/components/schemas/item'
          type: array
        shipping:
          $ref: '#/components/schemas/shipping_detail'
        supplementary_data:
          $ref: '#/components/schemas/supplementary_data'
      required:
      - amount
      title: Purchase Unit Request
      type: object
    instrument_id:
      description: The identifier of the instrument.
      maxLength: 256
      minLength: 1
      pattern: "^[A-Za-z0-9-_.+=]+$"
      type: string
    date_year_month:
      description: "The year and month, in ISO-8601 `YYYY-MM` date format. See [Internet\
        \ date and time format](https://tools.ietf.org/html/rfc3339#section-5.6)."
      maxLength: 7
      minLength: 7
      pattern: "^[0-9]{4}-(0[1-9]|1[0-2])$"
      type: string
    card_brand:
      description: "The card network or brand. Applies to credit, debit, gift, and\
        \ payment cards."
      enum:
      - VISA
      - MASTERCARD
      - DISCOVER
      - AMEX
      - SOLO
      - JCB
      - STAR
      - DELTA
      - SWITCH
      - MAESTRO
      - CB_NATIONALE
      - CONFIGOGA
      - CONFIDIS
      - ELECTRON
      - CETELEM
      - CHINA_UNION_PAY
      maxLength: 255
      minLength: 1
      pattern: "^[A-Z_]+$"
      title: Card Brand
      type: string
    card_type:
      description: "Type of card. i.e Credit, Debit and so on."
      enum:
      - CREDIT
      - DEBIT
      - PREPAID
      - STORE
      - UNKNOWN
      maxLength: 255
      minLength: 1
      pattern: "^[A-Z_]+$"
      title: Card Type
      type: string
    merchant_partner_customer_id:
      description: The unique ID for a customer generated by PayPal.
      maxLength: 22
      minLength: 1
      pattern: "^[0-9a-zA-Z_-]+$"
      type: string
    customer:
      description: The details about a customer in PayPal's system of record.
      properties:
        id:
          description: The unique ID for a customer generated by PayPal.
          maxLength: 22
          minLength: 1
          pattern: "^[0-9a-zA-Z_-]+$"
          type: string
        email_address:
          description: "The internationalized email address.<blockquote><strong>Note:</strong>\
            \ Up to 64 characters are allowed before and 255 characters are allowed\
            \ after the <code>@</code> sign. However, the generally accepted maximum\
            \ length for an email address is 254 characters. The pattern verifies\
            \ that an unquoted <code>@</code> sign exists.</blockquote>"
          format: merchant_common_email_address_v2
          maxLength: 254
          minLength: 3
          pattern: "(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\\\
            x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\[\\x01-\\\
            x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\\
            .)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\\
            .){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\\\
            x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\[\\x01-\\x09\\\
            x0b\\x0c\\x0e-\\x7f])+)\\])"
          type: string
        phone:
          $ref: '#/components/schemas/phone_with_type'
      title: Customer information based on PayPal's system of record
      type: object
    store_in_vault_instruction:
      description: Defines how and when the payment source gets vaulted.
      enum:
      - ON_SUCCESS
      maxLength: 255
      minLength: 1
      pattern: "^[0-9A-Z_]+$"
      type: string
    vault_instruction_base:
      description: Basic vault instruction specification that can be extended by specific
        payment sources that supports vaulting.
      properties:
        store_in_vault:
          $ref: '#/components/schemas/store_in_vault_instruction'
      title: Base vault Instruction parameters
      type: object
    card_attributes:
      description: Additional attributes associated with the use of this card.
      properties:
        customer:
          $ref: '#/components/schemas/customer'
        vault:
          $ref: '#/components/schemas/vault_instruction_base'
      title: Card Attributes
      type: object
    card:
      description: The payment card to use to fund a payment. Can be a credit or debit
        card.
      properties:
        id:
          description: The identifier of the instrument.
          maxLength: 256
          minLength: 1
          pattern: "^[A-Za-z0-9-_.+=]+$"
          type: string
        name:
          description: The card holder's name as it appears on the card.
          maxLength: 300
          minLength: 1
          pattern: "^.{1,300}$"
          type: string
        number:
          description: The primary account number (PAN) for the payment card.
          maxLength: 19
          minLength: 13
          pattern: "^[0-9]{13,19}$"
          type: string
        expiry:
          description: "The year and month, in ISO-8601 `YYYY-MM` date format. See\
            \ [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6)."
          maxLength: 7
          minLength: 7
          pattern: "^[0-9]{4}-(0[1-9]|1[0-2])$"
          type: string
        security_code:
          description: "The three- or four-digit security code of the card. Also known\
            \ as the CVV, CVC, CVN, CVE, or CID. This parameter cannot be present\
            \ in the request when `payment_initiator=MERCHANT`."
          maxLength: 4
          minLength: 3
          pattern: "^[0-9]{3,4}$"
          type: string
        last_digits:
          description: The last digits of the payment card.
          maxLength: 4
          minLength: 2
          pattern: "^[0-9]{2,4}$"
          readOnly: true
          type: string
        card_type:
          $ref: '#/components/schemas/card_brand'
        type:
          $ref: '#/components/schemas/card_type'
        brand:
          $ref: '#/components/schemas/card_brand'
        billing_address:
          $ref: '#/components/schemas/address_portable'
        attributes:
          $ref: '#/components/schemas/card_attributes'
      title: Card
      type: object
    vault_id:
      description: The PayPal-generated ID for the vaulted payment source. This ID
        should be stored on the merchant's server so the saved payment source can
        be used for future transactions.
      maxLength: 255
      minLength: 1
      pattern: "^[0-9a-zA-Z_-]+$"
      type: string
    payment_initiator:
      description: The person or party who initiated or triggered the payment.
      enum:
      - CUSTOMER
      - MERCHANT
      maxLength: 255
      minLength: 1
      pattern: "^[0-9A-Z_]+$"
      type: string
    stored_payment_source_payment_type:
      description: Indicates the type of the stored payment_source payment.
      enum:
      - ONE_TIME
      - RECURRING
      - UNSCHEDULED
      maxLength: 255
      minLength: 1
      pattern: "^[0-9A-Z_]+$"
      type: string
    stored_payment_source_usage_type:
      default: DERIVED
      description: Indicates if this is a `first` or `subsequent` payment using a
        stored payment source (also referred to as stored credential or card on file).
      enum:
      - FIRST
      - SUBSEQUENT
      - DERIVED
      example: DERIVED
      maxLength: 255
      minLength: 1
      pattern: "^[0-9A-Z_]+$"
      type: string
      x-konfig-original-example: DERIVED
      x-konfig-generated-schema: konfig-generated-schema-components-schemas-stored_payment_source_usage_type
    network_transaction_reference:
      description: Reference values used by the card network to identify a transaction.
      properties:
        id:
          description: "Transaction reference id returned by the scheme. For Visa\
            \ and Amex, this is the \"Tran id\" field in response. For MasterCard,\
            \ this is the \"BankNet reference id\" field in response. For Discover,\
            \ this is the \"NRID\" field in response. The pattern we expect for this\
            \ field from Visa/Amex/CB/Discover is numeric, Mastercard/BNPP is alphanumeric\
            \ and Paysecure is alphanumeric with special character -."
          maxLength: 36
          minLength: 9
          pattern: "^[a-zA-Z0-9-_@.:&+=*^'~#!$%()]+$"
          type: string
        date:
          description: The date that the transaction was authorized by the scheme.
            This field may not be returned for all networks. MasterCard refers to
            this field as "BankNet reference date.
          maxLength: 4
          minLength: 4
          pattern: "^[0-9]+$"
          type: string
        network:
          $ref: '#/components/schemas/card_brand'
[...]
